<div class="login-box main-content">
  <div id="login-header">
      <ul class="action-buttons clearfix fr">
          <li><%= link_to "Login", blogr_admin_login_path, :class => "button button-gray"%></li>
          <li><a href="#" class="button button-gray">Forgot Password</a></li>
      </ul>
      <h2>Blogr Register</h2>
  </div>
    <div id="login-section">
        <%= render "form"%>
    </div>
</div>